.header {
  height: var(--heights-appbar);
  width: 100%;

  position: sticky;
  top: 0;
  z-index: var(--z-index-menu);

  display: flex;
  align-items: center;
  justify-content: center;

  border-bottom: 0.1rem solid var(--color-background-secondary);
  background-color: var(--color-background);
}

.img {
  height: 30px;
  width: 16.62rem;

  transition: all var(--transition-default);
}

@media (min-width: 768px) {
  .img {
    height: 40px;
    width: 22.16rem;
  }
}
