.section,
.aside,
.footer {
  display: grid;
  place-items: center;

}

.main {
  min-height: calc(100% - var(--heights-appbar));
  width: 100%;

  display: flex;
  flex-direction: column-reverse;
}

.section {
  flex: 3;
}

.aside {
  flex: 1;
}

.footer {
  height: var(--heights-footer);
  width: 100%;
}

@media (min-width: 768px) {
  .main {
    flex-direction: row;
  }
}
