.section,
.aside,
.footer {
  display: grid;
  place-items: center;
}

.main {
  min-height: calc(100% - var(--heights-appbar));
  max-width: 120rem;

  display: flex;
  flex-direction: column-reverse;

  margin: 0 auto;
}

.section,
.aside {
  padding: var(--spacings-small) var(--spacings-xsmall);
  gap: var(--spacings-xsmall);
}

.section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.aside {
  display: flex;
}

@media (min-width: 768px) {
  .section {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1170px) {
  .main {
    flex-direction: row;
  }

  .section {
    flex: 1;

    grid-template-columns: repeat(4, 1fr);
  }

  .aside {
    flex-shrink: 0;
    width: 30rem;

    flex-direction: column;
  }
}
