.badge {
  width: 80px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.4rem var(--spacings-xxsmall);
  background-color: blue;

  border-radius: var(--radii-small);

  text-transform: capitalize;
  font-size: var(--font-content-xxsmall);
}

@media (min-width: 768px) {
  .badge {
    font-size: var(--font-content-xsmall);
  }
}

.badge[data-type='bug'] {
  background-color: #729f3f;
  color: #fff;
}

.badge[data-type='dark'] {
  background-color: #707070;
  color: #fff;
}

.badge[data-type='dragon'] {
  background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
  background-color: #53a4cf;
  color: #fff;
}

.badge[data-type='electric'] {
  background-color: #eed535;
  color: #212121;
}

.badge[data-type='fairy'] {
  background-color: #fdb9e9;
  color: #212121;
}

.badge[data-type='fighting'] {
  background-color: #d56723;
  color: #fff;
}

.badge[data-type='fire'] {
  background-color: #fd7d24;
  color: #fff;
}

.badge[data-type='flying'] {
  background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
  background-color: #3dc7ef;
  color: #212121;
}

.badge[data-type='ghost'] {
  background-color: #7b62a3;
  color: #fff;
}

.badge[data-type='grass'] {
  background-color: #9bcc50;
  color: #212121;
}

.badge[data-type='ground'] {
  background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
  background-color: #f7de3f;
  color: #212121;
}

.badge[data-type='ice'] {
  background-color: #51c4e7;
  color: #212121;
}

.badge[data-type='normal'] {
  background-color: #a4acaf;
  color: #212121;
}

.badge[data-type='poison'] {
  background-color: #b97fc9;
  color: #fff;
}

.badge[data-type='psychic'] {
  background-color: #f366b9;
  color: #fff;
}

.badge[data-type='rock'] {
  background-color: #a38c21;
  color: #fff;
}

.badge[data-type='steel'] {
  background-color: #9eb7b8;
  color: #212121;
}

.badge[data-type='water'] {
  background-color: #4592c4;
  color: #fff;
}
